<p>Oops, that didn't work</p> {{error}}
<div class="container">
	<form action="/onduty" method="GET">
    <input type="text" class="col-xs-6 form-control" id="SummonerName" name="name" placeholder="Enter Summoner Name"> 
		<select name="region" id="" class="form-control">
			<option value="EUW" selected>EUW</option>
		</select>
		<button type="submit">ON DUTY</button>
  </form>
</div>