<h1>index {{title}}</h1>
<div class="container">
	<form action="/onduty" method="GET">
    <input type="text" class="col-xs-6" id="SummonerName" name="name" placeholder="Enter Summoner Name"> 
		<select name="region" id="">
			<option value="EUW" selected>EUW</option>
		</select>
		<button type="submit">ON DUTY</button>
  </form>
</div>
