Index {{title}}

<form action="/onduty" method="GET">
	<input type="text" name="name">
	<select name="region" id="">
		<option value="EUW">EUW</option>
		<option value="NA">NA</option>
	</select>
	<button type="submit"></button>	
</form>