<<<<<<< HEAD
<div class="container">
        <input type="text" class="col-xs-6" id="SummonerName" placeholder="Enter Summoner Name"> 
    <div class="btn-group col-xs-6">
      <button type="button" class="btn btn-success">EUW</button>
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">EUNE</a></li>
        <li><a href="#">NA</a></li>
        <li><a href="#">OCE</a></li>
        <li><a href="#">RU</a></li>
      </ul>
    </div>
</div>
=======
Index {{title}}

<form action="/onduty" method="GET">
	<input type="text" name="name">
	<select name="region" id="">
		<option value="EUW">EUW</option>
		<option value="NA">NA</option>
	</select>
	<button type="submit"></button>	
</form>
>>>>>>> a3f8e2717c0173bd28dcc207b7958188708af6b3
