<div class="container">
	{{title}}
	<pre>
	{{json data}}
	</pre>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			{{#each data.team1}}
				{{> team1Player}}
			{{/each}}
		</div>
		<div class="col-sm-6">
			{{#each data.team2}}
				{{> team1Player}}
			{{/each}}
		</div>
	</div>
</div>